{% extends "base.html" %}
    {% block delete %}
        <div class="alert alert-danger">
        <form method="post" action="">
         {% csrf_token %}
            Deseja realmente deletar a tarefa:<b>{{ dead_task.title }}</b> ?
            <button type="submit" class="btn btn-success btn-xs">Deletar</button>
            <a href="{% url 'home'%}"
            <button type="button" class="btn btn-danger btn-xs" >Cancelar</button>
            </a>
        </form>
        </div>
    {% endblock %}
