<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">
    <title>Activities</title>
  </head>
  <body>

<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
           <a class="navbar-brand" href="#">Activities</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url home %}">Home</a></li>
            <li><a href="{% url contato %}">Contato</a></li>
          </ul>
         </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Suas tarefas atuais</h1>
<!--exibindo as tarefas através de um colapse-->
<p><button type="button" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#demo">
 Tarefas &raquo;
</button></p><div id="demo" class="collapse">
<div class="panel-group" id="accordion">
{% for task in latest_task_list %}
  <div class="panel panel-default">
     <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{task.id}}">
          <center>{{task.title}}</center>
        </a>
      </h4>
     </div>
    <div id="{{task.id}}" class="panel-collapse collapse">
      <div class="panel-body">
        {{task.description}}<br/><font size="0.5">{{task.pub_date}}</font>
      </div>
  </div>
</div><!--/colapse -->
{% endfor %}
</div>
</div>
          </p>
          <p>
          <button type="button" class="btn btn-lg btn-default" id="cadastrotask"
          rel="popover"
          data-placement="right"
          data-original-title="Cadastre uma nova tarefa">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          </p>
          </div><!-- /jumbotron -->

    </div><!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!--script do topover-->
<script type="text/javascript">
$('#cadastrotask').popover({
  html:true,
  content: function(){
    return $("#form1").html();
  }
});
</script>

<div id="form1" class=hide>
{% include 'new_task.html'%}
</div>
  </body>
</html>